<div class="container">
  <div class="row">
    <!-- エラーメッセージ -->
    <%= render 'books/error', newbook: @book %>
    <div class="col-xs-3">
      <!-- User_info部分テンプレート -->
      <div class="row">
        <%= render 'users/user_info', user: @user %>
      </div>
      <!-- New_book部分テンプレート -->
      <div class="row">
        <%= render 'books/newbook', newbook: @book %>
      </div>
    </div>
    <!-- 投稿された本の一覧 -->
    <div class="col-xs-9">
    <h2>Books</h2>
    <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>  <!--　いいね部分 -->
      </tr>
    </thead>
    <!-- 投稿一覧 部分テンプレート-->
    <tbody>
      <%= render partial: 'book', collection: @books %>
    </tbody>
    </table>
    </div>
  </div>
</div>

